@font-face {
	font-family:myfont1;
	src: url(../fonts/Chinese/钟齐流江毛笔草体.ttf);
}

@font-face {
	font-family:myfont2;
	src: url(../fonts/English/Parkavenue.ttf);
}

@font-face {
	font-family:myfont3;
	src: url(../fonts/Chinese/德彪钢笔行书字库.ttf);
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
}

.header{								/*导航栏*/
	
	border: 1px solid #FBF3F2;
	
	background: #FBF3F2;
	
	width: 100%;
	
	height: 100px;
	
	position: fixed;
	
	top: 0px;
	
}

.shopping-cart{							/*订单*/
	
	background: #FBF3F2;
	
	border-radius: 10px/10px;
	
	width: 6.5%;
	
	height: 80px;
	
	float: right;
	
}

.shopping-cart ul{
	
	border: 1px solid #FBF3F2;
	
	border-radius: 10px/10px;
	
	background: #FBF3F2;
	
	height: auto;
	
	margin-top: 0px;
	
	padding: 0;
	
	text-align: center;
	
}

.shopping-cart li{
	
	height: 60px;
	
	margin-top: 10px;
	
	margin-left: 0px;
	
	list-style: none;
	
	line-height: 60px;
	
}

.shopping-cart a{
	
	color: #000000;
	
	text-decoration: none;
	
}

.shopping-cart a:hover{
	
	color: orange;
	
}

.logo{									/*食鱼煲logo*/
	
	width: 10%;
	
	height: 90px;
	
	float: left;
	
	margin-top: 0px;
	
	margin-right: 5px;
	
	margin-bottom: 5px;
	
	margin-left: 20px;
	
	background-image: url(../img/鱼.png);
	
	background-repeat: no-repeat;
	
	background-size: 100px;
	
}

.logo-text{										/*食鱼煲*/
	
	width: 10%;
	
	height: 90px;
	
	float: left;
	
	margin-top: 15px;
	
	margin-right: 20px;
	
	margin-left: 5px;
	
	margin-bottom: 15px;
	
	text-align: center;
	
	line-height: 10px;
	
}

.logo-text a{									/*食鱼煲链接调整*/
	
	color: #000000;
	
	text-decoration: none;
	
}

.text-1{										/*食鱼煲字体调整*/
	
	font-family: myfont1;
	
	font-size: 30px;
	
}

.text-2{										/*Fish casserole字体调整*/
	
	font-family: myfont2;
	
	font-size: 25px;
	
}

.Navigation1 {									/*登陆*/
	
	width: 12%;
	
	height: 90px;
	
	font-size: 25px;
	
	float: right;
	
	position: relative;
	
	display: inline-block;
	
	margin-right: 20px;
	
}

.Navigation1-content{							/*登陆二维码*/
	
	display: none;
	
	position: absolute;
	
	background: #F9F9F9;
	
	min-width: 60px;
	
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	padding: 0px 10px 10px 10px;
	
}

.Navigation1-content p{							/*扫码提示*/
	
	font-size: 10px;
	
}

.Navigation1:hover .Navigation1-content{
	
	display: block;
	
	color: orange;
	
}

.Navigation1 a{
	
	text-decoration: none;
	
	color: #000000;
	
}

.Navigation2{											/*导航*/
	
	width: 25%;
	
	height: 90px;
	
	float: right;
	
	margin-top: 0px;
	
	margin-right: 20px;
	
	margin-left: 50px;
	
}

.Navigation2 ul{
	
	width: 350px;
	
	height: 80px;
	
	margin-top: 0px;
	
	margin-right: 90px;
	
}

.Navigation2 li{
	
	width: 120px;
	
	height: 50px;
	
	float: left;
	
	margin-top: 5px;
	
	margin-right: 5px;
	
	list-style: none;
	
	text-align: center;
	
	line-height: 50px;
	
}

.Navigation2 a{
	
	color: #000000;
	
	text-decoration: none;
	
}

.Navigation2 a:hover {
	
	color: orange;
	
}

.Navigation3{										/*导航语框*/
	
	width: 30%;
	
	height: 90px;
	
	float: right;
	
	margin-left: 20px;
	
}

.Navigation3 h3{										/*导航语*/
	
	font-family: myfont3;
	
	font-size: 25px;
	
	text-align: center;
	
	line-height: 55px;
	
}

.box{
	
	background: #F0FCFF;														/*主要内容*/
	
	width: 95%;
	
	height: 1480px;
	
	margin-left: 2.5%;
	
}

.box-1{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 130px;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-2{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 130px;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-3{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 130px;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-4{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-5{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-6{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-7{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-8{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-9{
	
	border: 1px solid #F6F6F6;
	
	background: #F6F6F6;
	
	border-radius: 10px/10px;
	
	width: 350px;
	
	height: 390px;
	
	float: left;
		
	margin-top: 3%;
	
	margin-right: 1%;
	
	margin-left: 2%;
	
}

.box-10{
	
	width: 800px;
	
	height: 100px;
	
	float: left;
	
	font-size: 21px;
	
	font-family: myfont3;
	
	text-align: center;
	
	line-height: 60px;
	
	margin-top: 20px;
	
	margin-left: 16px;
	
}

.box-11{
	
	border: 1px solid #FBF3F2;
	
	border-radius: 10px/10px;
	
	background: #FBF3F2;
	
	width: 90px;
	
	height: 30px;
	
	float: right;
	
	text-align: center;
	
	line-height: 30px;
	
	margin-top: 50px;
	
	margin-right: 40px;
	
}

.box-11 a{
	
	text-decoration:none ;
	
	color: #000000;
	
}

.box-11 a:hover{
	
	color: orange;
	
}

.ti-player-track-next:hover{
	
	color: orange;
	
}

.ti-shopping-cart:hover{				/*订单特效*/
	
	color: orange;
	
}

.footer{								/*版权信息栏*/
	
	background: #F2EBE5;
	
	width: 95%;
	
	height: 50px;
	
	float: left;
	
	padding: 0px;
	
	position: relative;
	
	margin-top: 10px;
	
	margin-bottom: 10px;
	
	margin-left: 2.5%;
	
	text-align: center;
	
	line-height: 50px;
	
}

.footer b{
	
	font-family: myfont1;
	
	color: #F79C65;
	
}

#footer-a{
	
	color: #000000;
	
	text-decoration: none;
	
}

#footer-a:hover{
	
	color: orange;
	
}

.footer-b{
	
	color: #000000;
	
	text-decoration: none;
	
}

.footer-b:hover{
	
	color: orange;
	
}

#b-1{
	
	font-family: myfont2;
	
	color: #F79C65;
	
}

